<div class="center jumbotron">
  <h1>About me</h1>
  <p>
    I am a graduate of the University of the Witwatersrand, which has enhanced my ability to live by an ethos of continual learning and betterment.
    Quite recently decided to do a deep dive on the industry I work in and have taken up learning to code. Currently learning Ruby on Rails and using HTML/CSS, PostrgreSQL.
  </p>
</div>
