<html>
<head>
<style>
body {
  background-color: lightblue;
}
</style>
</head>

<body>

<h1 style="color: black"><b>This is the Alpha-blog about page</b></h1>

<%= link_to image_tag('profile.jpg'), 'www.mashrurhossain.com' %>

<div style="width: 800px">
<p style="float: left">Learning HTML was easier than Ruby:).</p>
<p style="float: right">It was easasier than Ruby :(.</p>
</div>
<br><br>

<p>
  <%= link_to "Click here to go access article management tool", articles_path %>
</p>
<%= link_to 'Home', root_path %>

</body>
</html>
